body {
    background-color: whitesmoke;
    font-family: 'Indie Flower';
    font-size: 20px;
}

.title {
    /* text-align: center; */
    color: red;
    background-color: bisque;
    display: flex;
 
    
    
}

.Subheadings {
    font-size: 40px;
    margin-left: 10px;
}


#name {
    text-align: center;
}

.pictures {
    width: 300px;
    
}

.introduction-section {
    display: flex;
    align-items: center;
}

.name-section {
    display: flex;
    align-items: center;
}

#name-info {
    margin-right: 20px;
    margin-left: 10px;
}

.anatomy-section {
    display: flex;
    align-items: center;
}

.section1 {
    background-color: aquamarine;
    border: 2px black solid
}

.section2 {
    margin-top: 15px;
    background-color: bisque;
    border: 2px black solid;
}

.section3 {
    margin-top: 15px;
    background-color: aquamarine;
    border: 2px black solid;
}