body {
    background-color: whitesmoke;
    font-family: 'Indie Flower';
    font-size: 20px;
    margin-top: 0%;
}


.list {
    background-color: bisque;
    display: flex;
    justify-content: space-between;
    margin-bottom: 30px;
    height: 100px;

}

.stuff-on-top {
    font-size: 30pt;
    width: 300px;
    text-align: center;
    margin-top: 30px;

}

.header {
    color: red;
    font-size: 46pt;
    text-align: center;
}

.Subheadings {
    font-size: 40px;
    margin-left: 10px;
}

#name {
    text-align: center;
}

.pictures {
    width: 300px;

}

.introduction-section {
    display: flex;
    align-items: center;
}

.name-section {
    display: flex;
    align-items: center;
}

#name-info {
    margin-right: 20px;
    margin-left: 10px;
}

.anatomy-section {
    display: flex;
    align-items: center;
}

.section1 {
    background-color: aquamarine;
    border: 2px black solid
}

.section2 {
    margin-top: 15px;
    background-color: bisque;
    border: 2px black solid;
}

.section3 {
    margin-top: 15px;
    background-color: aquamarine;
    border: 2px black solid;
}


@media (max-width: 800px) {
    * {
        margin: 1px;
        padding: 1px;
    }
    .list {
        height: auto;
        flex-direction: column;
    }
    .picturess {
        width: 100%;
    }
    .introduction-section, .name-section, .anatomy-section {
        display: flex;
        flex-direction: column;
    }
}